    <div class="container footer">
        <div class="row">
            <div class="col-md-12 bottom-fixed">
                <p><i class="fas fa-trademark"></i> 'Pikity' es propiedad de Carlos Loza.</p>
            </div>
        </div> 
</div>
</body>
</html>