    <div class="row">
        <div class="col-lg-12">
            <div class="container fixed-bottom">
                <p><i class="fas fa-trademark"></i> 'Pikity' y 'Loza Kun' son propiedad de Carlos Loza.</p>
            </div>
        </div>
    </div> 
</body>
</html>