<div class="container navegacion fixed-top">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Pikity <i class="fas fa-chart-line"></i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
            <a class="nav-item nav-link <% if(path === 'index'){ %>active<% } else { %>disable<% } %>" href="/">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link <% if(path === 'ligas'){ %>active<% } else { %>disable<% } %>" href="/ligas">Ligas</a>
            <% if(isAuthenticated){ %>
                <a class="nav-item nav-link <% if(path === 'quinielas'){ %>active<% } else { %>disable<% } %>" href="/quiniela">Quinielas</a>
            <% } %>
            </div>
            <ul class="main-header__item-list">
                <li class="main-header__item">
                    <a class="nav-item nav-link <% if(path === 'login'){ %>active<% } else { %>disable<% } %>"href="/login">Login</a>
                </ul>
            </ul>
        </div>
    </nav>
</div>