body{
    margin: auto;
    margin-top: 70px;
    align-content: center;
}

.container.navegacion.fixed-top{
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
}

.card{
    width: 60px;
    display: inline-block;
    width: 25%;
    margin: 20px 10px;
}

.card.img{
    width: 100%;

}

.container{
    text-align: center;
    align-content: center;
    padding-bottom: 10px;
}

.jumbotron{
    margin: 100px;
}

.bottom-fixed{
    margin-top: 20px;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
    align-content: center;
    text-align: center;
}

.footer{
    position: absolute;
    padding-top: 20px;
    right: 0;
    bottom: 0;
    left: 0;
    align-content: center;
    text-align: center;
}

#agregar-liga{
    text-align: center;
    align-content: center;
}

#AgregarEquiposRow{
    align-content: center;
}

#form-equipos{
    margin: 20px auto;
    width: 60%;
}

